<h1 id="tableLabel">Persons</h1>

<p *ngIf="!persons"><em>Carregando...</em></p>

<div class="container-fluid px-0 my-3">
  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="addRecordClick()">
        Add Record
      </button>
    </div>

    <div class="col-auto">
      
    </div>
  </div>
</div>

<table class='table table-striped table-bordered' aria-labelledby="tableLabel" *ngIf="persons">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Document</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{ person.id }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.document }}</td>
      <td class="text-center">
        <button class="btn btn-warning btn-sm" (click)="editClick(person.id)">Edit</button>
      </td>
      <td class="text-center">
        <button class="btn btn-danger  btn-sm" (click)="deleteClick(person.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
